# Credenciais da Conta de Serviço do Google para acesso ao Google Sheets
GOOGLE_SERVICE_ACCOUNT_EMAIL=seu-email-da-conta-de-servico@seu-projeto.iam.gserviceaccount.com
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nSUA_CHAVE_PRIVADA_AQUI\n-----END PRIVATE KEY-----\n"
