# Credenciais da Conta de Serviço do Google para acesso ao Google Sheets
GOOGLE_SERVICE_ACCOUNT_EMAIL=seu-email-da-conta-de-servico@seu-projeto.iam.gserviceaccount.com
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nSUA_CHAVE_PRIVADA_AQUI\n-----END PRIVATE KEY-----\n"

# Credenciais da API do Meta Ads (Facebook & Instagram Ads)
# O META_ACCESS_TOKEN deve ser um Token de Acesso de Longa Duração gerado via Graph API Explorer
META_ACCESS_TOKEN=
# O META_AD_ACCOUNT_ID deve ser o ID numérico da conta de anúncios com ou sem o prefixo "act_" (Exemplo: act_1234567890)
META_AD_ACCOUNT_ID=
