# Chave de API pública para acesso ao Google Sheets (Leitura)
# Crie esta chave no Console do Google Cloud (https://console.cloud.google.com)
# Ative a API "Google Sheets API" para o seu projeto e crie uma "API Key" em Credenciais.
GOOGLE_API_KEY=sua_chave_de_api_aqui
